html {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 30px;
  color: rgb(134, 134, 134);
  line-height: 60px;
  width: 80%;
}

h2 {
  font-size: 20px;
  width: 30%;
}

.caption {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 300px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: lighter;
  width: auto;
}

.head {
  display: flex;
  font-size: 30px;
  text-align: center;
  color: rgb(134, 134, 134);
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
}

.column-eighth {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 8);
  align-items: flex-start;
}

.column-full {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.column-two-eighth {
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  border: rgb(255, 81, 0);
  border-style: solid;
  width: 20%;
  font-size: 35px;
  color: rgb(255, 81, 0);
  padding: 20px;
  text-transform: uppercase;
}
